In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sn

In [ ]:
#Loading the data with pandas
purchace_behaviour= pd.read_csv("C:/Users/USER/Desktop/Data Analytics materials/Quatium_DA_task/Task1/Datasets/QVI_purchase_behaviour.csv")
transcations= pd.read_excel("C:/Users/USER/Desktop/Data Analytics materials/Quatium_DA_task/Task1/Datasets/QVI_transaction_data.xlsx")

In [6]:
purchace_behaviour.tail()

       LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
72632         2370651  MIDAGE SINGLES/COUPLES       Mainstream
72633         2370701          YOUNG FAMILIES       Mainstream
72634         2370751          YOUNG FAMILIES          Premium
72635         2370961          OLDER FAMILIES           Budget
72636         2373711   YOUNG SINGLES/COUPLES       Mainstream

# DATA PRE-PROCESSING

##### Inconsistent datatypes
##### Missing data (NULL values)
##### Outliers

In [24]:
pd.to_datetime(transcations['DATE'])

0        1970-01-01 00:00:00.000043390
1        1970-01-01 00:00:00.000043599
2        1970-01-01 00:00:00.000043605
3        1970-01-01 00:00:00.000043329
4        1970-01-01 00:00:00.000043330
                      ...
264831   1970-01-01 00:00:00.000043533
264832   1970-01-01 00:00:00.000043325
264833   1970-01-01 00:00:00.000043410
264834   1970-01-01 00:00:00.000043461
264835   1970-01-01 00:00:00.000043365
Name: DATE, Length: 264836, dtype: datetime64[ns]

In [15]:
transcations['DATE']

0         43390
1         43599
2         43605
3         43329
4         43330
          ...
264831    43533
264832    43325
264833    43410
264834    43461
264835    43365
Name: DATE, Length: 264836, dtype: int64

In [14]:
transcations.dtypes

DATE                int64
STORE_NBR           int64
LYLTY_CARD_NBR      int64
TXN_ID              int64
PROD_NBR            int64
PROD_NAME          object
PROD_QTY            int64
TOT_SALES         float64
dtype: object